<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
<title>GetFeatureInfo example (image layer)</title>
<link rel="stylesheet" href="ol.css" type="text/css"/>
<script src="ol.js"></script>
</head>
<body>
<input type="submit" value="SUBMIT" onclick="checData()"/>
    <div id="map" class="map"></div>
 

<script src="jquery-1.11.2.min.js"></script>
<script src="aindex_new.js"></script>

</body>
</html>
