<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
      <meta charset="UTF-8"></meta>
      <title th:utext="#{label.title}"></title>
   </head>
   <body>
      <div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
         <a th:href="@{/loginmultiple?language=en}">Login (English)</a>
         &nbsp;|&nbsp;
         <a th:href="@{/loginmultiple?language=tel}">Login (Telugu)</a>
       &nbsp;|&nbsp;
       <a th:href="@{/loginmultiple?language=hi}">Login (Hindhi)</a>
      </div>
     
<strong th:utext="#{manufesto.ruleone}"></strong>
<strong th:utext="#{manufesto.ruletwo}"></strong>
<strong th:utext="#{manufesto.rulethree}"></strong>
<strong th:utext="#{manufesto.rulefour}"></strong>
<strong th:utext="#{manufesto.rulefive}"></strong>
<strong th:utext="#{manufesto.rulesix}"></strong>
<strong th:utext="#{manufesto.ruleseven}"></strong>
<strong th:utext="#{manufesto.ruleeight}"></strong>
<strong th:utext="#{manufesto.rulenine}"></strong>
<strong th:utext="#{manufesto.ruleten}"></strong>
<strong th:utext="#{manufesto.ruleelev}"></strong>
<strong th:utext="#{manufesto.ruletwlv}"></strong>
<strong th:utext="#{manufesto.rulethirteen}"></strong>
<strong th:utext="#{manufesto.fourteen}"></strong>
<strong th:utext="#{manufesto.fifteen}"></strong>
<strong th:utext="#{manufesto.sixteen}"></strong>
<strong th:utext="#{manufesto.seventeen}"></strong>
<strong th:utext="#{manufesto.eightteen}"></strong>
<strong th:utext="#{manufesto.nineteen}"></strong>
<strong th:utext="#{manufesto.tweenty}"></strong>
<strong th:utext="#{manufesto.tweentyone}"></strong>
<strong th:utext="#{manufesto.tweentytwo}"></strong>
<strong th:utext="#{manufesto.tweentythree}"></strong>
<strong th:utext="#{manufesto.tweentyfour}"></strong>

   </body>
</html>
