<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8" ></meta>
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Login and Registration Form with HTML5 and CSS3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" ></meta>
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" ></meta>
        <meta name="author" content="Codrops" ></meta>
        <link rel="shortcut icon" href="../favicon.ico"></link> 
        <link rel="stylesheet" type="text/css" href="css/demo.css" ></link>
        <link rel="stylesheet" type="text/css" href="css/style.css" ></link>
		<link rel="stylesheet" type="text/css" href="css/animate-custom.css" ></link>
    </head>
    <body>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="">
                    <strong>&laquo; Previous Demo: </strong>Responsive Content Navigator
                </a>
                <span class="right">
                    <a href="#">
                        <strong>Home</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>Login and Registration Form <span>with HTML5 and CSS3</span></h1>
				<nav class="codrops-demos">
					<span>Click <strong>"Join us"</strong> to see the form switch</span>
					<a href="index.html" class="current-demo">Demo 1</a>
					<a href="index2.html">Demo 2</a>
					<a href="index3.html">Demo 3</a>
				</nav>
            </header>
            <section>				
                <div id="container_demo" >
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
  <div class="row col-sm-6" >
    <div th:if="${param.error}">
      <p style="color: red">UserName or PassWord is wrong. Please
        check again!</p>
  
    </div>
    <div th:if="${param.logout}">
      <h1 style="color: blue">Logged out.</h1>
    </div>
<script>
function validlogin(){
var username=document.getElementById("username").value;
if(!username){
alert("Please Enter Valid Username");
return false;
}
var password=document.getElementById("password").value;
if(!password || (password.length>6)==false){
alert("Please Enter Valid Password min 6 characters");
return false;
}
return true;
}
</script>

                            <form th:action="@{/login}" method="post" onsubmit="return validlogin()">
 
                                <h1>Log in</h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Your email or username </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"></input>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" ></input> 
                                </p>
                          
                                <p class="login button"> 
                                    <input type="submit" value="Login" ></input> 
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a href="#toregister" class="to_register">Join us</a>
								</p>
                            </form> </div>
                        </div>
<script>
function validregister(){
var username=document.getElementById("usernamesignup").value;
if(!username){
alert("Please Enter Valid Username");
return false;
}
var emailsignup=document.getElementById("emailsignup").value;
if(!emailsignup){
alert("Please Enter Valid Email");
return false;
}
var password=document.getElementById("passwordsignup").value;
if(!password || (password.length>6)==false){
alert("Please Enter Valid Password minimum 6 characters");
return false;
}
var passwordconfirm=document.getElementById("passwordsignup_confirm").value;
if(passwordconfirm !== password){
alert("Password Not Match");
return false;
}
return true;
}
</script>
                        <div id="register" class="animate form">
                            <form  action="mysuperscript.php" autocomplete="on" onsubmit="return validregister()">  
                                <h1> Sign up </h1> 
                                <p> 
                                    <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                                    <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" ></input>
                                </p>
                                <p> 
                                    <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"></input> 
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"></input>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"></input>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youphoto" data-icon="p">Please Select Your Photo </label>
                                    <input id="file" name="yourphoto" required="required">
                                </p>
                                <p class="signin button"> 
									<input type="submit" value="Sign up"></input> 
								</p>
                                <p class="change_link">  
									Already a member ?
									<a href="#tologin" class="to_register"> Go and log in </a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>
