<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
      <meta charset="UTF-8"></meta>
      <title th:utext="#{label.title}"></title>
   </head>
   <body>
      <div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
         <a th:href="@{/loginmultiple?language=en}">Login (English)</a>
         &nbsp;|&nbsp;
         <a th:href="@{/loginmultiple?language=tel}">Login (Telugu)</a>
       &nbsp;|&nbsp;
       <a th:href="@{/loginmultiple?language=hi}">Login (Hindhi)</a>
      </div>
     
<p><strong th:utext="#{manufesto.ruleone}"></strong></p>
<p><strong th:utext="#{manufesto.ruletwo}"></strong></p>
<p><strong th:utext="#{manufesto.rulethree}"></strong></p>
<p><strong th:utext="#{manufesto.rulefour}"></strong></p>
<p><strong th:utext="#{manufesto.rulefive}"></strong></p>
<p><strong th:utext="#{manufesto.rulesix}"></strong></p>
<p><strong th:utext="#{manufesto.ruleseven}"></strong></p>
<p><strong th:utext="#{manufesto.ruleeight}"></strong></p>
<p><strong th:utext="#{manufesto.rulenine}"></strong></p>
<p><strong th:utext="#{manufesto.ruleten}"></strong></p>
<p><strong th:utext="#{manufesto.ruleelev}"></strong></p>
<p><strong th:utext="#{manufesto.ruletwlv}"></strong></p>
<p><strong th:utext="#{manufesto.rulethirteen}"></strong></p>
<p><strong th:utext="#{manufesto.fourteen}"></strong></p>
<p><strong th:utext="#{manufesto.fifteen}"></strong></p>
<p><strong th:utext="#{manufesto.sixteen}"></strong></p>
<p><strong th:utext="#{manufesto.seventeen}"></strong></p>
<p><strong th:utext="#{manufesto.eightteen}"></strong></p>
<p><strong th:utext="#{manufesto.nineteen}"></strong></p>
<p><strong th:utext="#{manufesto.tweenty}"></strong></p>
<p><strong th:utext="#{manufesto.tweentyone}"></strong></p>
<p><strong th:utext="#{manufesto.tweentytwo}"></strong></p>
<p><strong th:utext="#{manufesto.tweentythree}"></strong></p>
<p><strong th:utext="#{manufesto.tweentyfour}"></strong></p>

   </body>
</html>
